# Корневой файл EditorConfig
root = true

# Для всех файлов
[*]
charset = utf-8
indent_style = tab
indent_size = 4

# Настройки для конретного типа файлов
[*.jade]
indent_style = space
indent_size = 2


