root = true

[*] # Rules for all files
charset = utf-8
end_of_line = lf # UNIX-style line endings
indent_style = space
indent_size = 4
trim_trailing_whitespace = true # remove whitespaces from lines endings
insert_final_newline = true # empty line at the end of the file

[*.php]
ij_php_phpdoc_blank_line_before_tags = false # after comments, before first tag
ij_php_phpdoc_blank_lines_around_parameters = false # before and after @param tags
ij_php_phpdoc_keep_blank_lines = true # allow blank lines or not
ij_php_phpdoc_param_spaces_between_name_and_description = 1
ij_php_phpdoc_param_spaces_between_tag_and_type = 1
ij_php_phpdoc_param_spaces_between_type_and_name = 1
ij_php_phpdoc_use_fqcn = false # use fully qualified class name, or import at the beginning of the file
ij_php_phpdoc_wrap_long_lines = true # longer than current line length
ij_php_sort_phpdoc_elements = true # order @param, @return, @throws
ij_php_align_phpdoc_comments = false # align comments after @param tag to start from same horizontal position
ij_php_align_phpdoc_param_names = false # align variable names after @param tag to start from same horizontal position
